@page "/mybids"

@inject IJSRuntime jsRuntime
@using Newtonsoft.Json;
@inject IArt productInterface
@inject IBid bidService
@inject NavigationManager navigationManager
@using ArtBbaseFrontend.Models.Dtos.Bid



<MyBuyerLayout></MyBuyerLayout>
<style>
    .app{
        padding:5px; 
        display:flex;
        flex-direction:column;
        justify-content: center;
        gap:15px;
    }


    .topon {
        margin-top: 51px;
        margin-right: auto;
        margin-left: auto;
        color: #CB4427
    }

    .bid-item{
        width:95%;
        display:flex;
        height:30%;
        background-color:white;
        flex-wrap:wrap;
        justify-content:center;
    }
    .bid-img{
        width:20%;
        padding:5px;
    }
    .bid-item img{
        height:70px;
        width:80%;
        max-width:100px;
        
    }

    .bid-details{
        width:80%;
        display: flex;
        justify-content:space-between;
        align-content:center;
        padding:5px;
        flex-wrap:wrap;
        gap:10px;
    }
    .bid-details div{
        display:flex;
        flex-direction:column;
       justify-content:space-between;
       height:60px;
    }
    .bid-details p{
            color: #CB4427;
            font-weight: bold;
    }

    .btn-bid {
        background-color: #CB4427;
        border: none;
        width: 90%;
        padding: 5px;
        height: 25px;
        border-radius: 5px;
        color: white;
    }

    .btn-bid-lost {
        background-color: #F5DAD4;
        border: none;
        width: 90%;
        padding: 5px;
        height: 25px;
        border-radius: 5px;
        color: white;
    }

    .btn-bid-won {
        background-color: black;
        border: none;
        width: 90%;
        padding: 5px;
        height: 25px;
        border-radius: 5px;
        color: white;
    }
 </style>

<div class="app">
    <h3 class="topon"> My Bids</h3>
</div>

@if (isLoading)
{
    <p><i>Loading...</i></p>
}
else
{

    @if (hbids.Count > 0)
    {
        <div class="app">
            @foreach (var bid in hbids)
            {
                <div class="bid-item">
        <div class="bid-img">
            <img src="@bid.ArtImage" />
        </div>
        <div class="bid-details">
            <div class="bid-left">
                <h4> @bid.ArtName </h4>
                <p style="background-color:#FFE9E4; Padding:4px;">Biding @bid.Status</p>

            </div>
            <div class="bid-center">
                <span style="display:flex;">Your Bid: <p> Ksh @bid.BidAmmount</p></span>
                <span style="display:flex;">Highest Bid: <p>Ksh @bid.HighestBid</p></span>
            </div>
            <div class="bid-right">
                            <h4>@GetRemainingTime(bid.StopTime)</h4>
                @if(@bid.Status == "Open"){
                                <a href="homeopen"><button class="btn-bid">Bid Again</button></a>
                }
                            else if (@bid.Status == "Closed"){
                            if(@bid.BidAmmount == @bid.HighestBid ){

                            <a href="myorders"><button class="btn-bid-won">Checkout</button></a>
                            }else{
                            <button class="btn-bid-lost">Bid Lost</button>
                            }
                 }
               
            </div>
        </div>
    </div>
            }
        </div>
    }
    else
    {
        <p><i>No Art Found!!</i></p>
    }
}



@code {
    private List<ArtDto> products = new List<ArtDto>();
    private List<BidDto> hbids = new List<BidDto>();
    private bool isLoading = true;
    private double bidAmount;
    private string UserId; // Variable to store SellerId

    protected override async Task OnInitializedAsync()
    {
        // Retrieve SellerId from local storage
        UserId = await jsRuntime.InvokeAsync<string>("localStorage.getItem", "UserId");
        hbids = await bidService.GetMyHighestBidsAsync(UserId);

        isLoading = false;

        var timer = new System.Threading.Timer(async (_) =>
    {
    await InvokeAsync(() => StateHasChanged());
    }, null, TimeSpan.Zero, TimeSpan.FromSeconds(1));

       
    }

    private void showProduct(Guid id)
    {
        //navigationManager.NavigateTo($"Art/{id}");
    }
    private string GetRemainingTime(DateTime expiresAt)
    {
        var remainingTime = expiresAt - DateTime.UtcNow;
        if (remainingTime.TotalSeconds < 0)
        {
            return "00D:00H:00M:00S";
        }
        else
        {
            return $"{remainingTime.Days}D:{remainingTime.Hours}H:{remainingTime.Minutes}M:{remainingTime.Seconds}S";
        }
    }
  
}



