@page "/myorders"

@inject IOrder orderservice
@inject IJSRuntime jsRuntime
@using Newtonsoft.Json;
@inject IArt productInterface
@inject IBid bidService
@inject IOrder orderservice
@inject NavigationManager navigationManager

<MyBuyerLayout></MyBuyerLayout>
<style>
    .app{
        padding:5px; 
        display:flex;
        flex-direction:column;
        justify-content: center;
        gap:15px;
    }

    .topon {
        margin-top: 51px;
        margin-right: auto;
        margin-left: auto;
        color: #CB4427
    }

    .bid-item{
        width:95%;
        display:flex;
        height:30%;
        background-color:white;
        flex-wrap:wrap;
        justify-content:center;
    }
    .bid-img{
        width:20%;
        padding:5px;
    }
    .bid-item img{
        height:70px;
        width:80%;
        max-width:100px;
        
    }

    .bid-details{
        width:80%;
        display: flex;
        justify-content:space-between;
        align-content:center;
        padding:5px;
        flex-wrap:wrap;
        gap:10px;
    }
    .bid-details div{
        display:flex;
        flex-direction:column;
       justify-content:space-between;
       height:60px;
    }
    .bid-details p{
            color: #CB4427;
            font-weight: bold;
    }

    .btn-bid {
        background-color: #CB4427;
        border: none;
        width: 90%;
        padding: 5px;
        height: 25px;
        border-radius: 5px;
        color: white;
    }

    .btn-bid-comp {
        background-color: forestgreen;
        border: none;
        width: 90%;
        padding: 5px;
        height: 25px;
        border-radius: 5px;
        color: white;
    }

    .btn-bid-won {
        background-color: black;
        border: none;
        width: 90%;
        padding: 5px;
        height: 25px;
        border-radius: 5px;
        color: white;
    }
 </style>

<div class="app">
    <h3 class="topon"> My Orders</h3>
</div>

@if (isLoading)
{
    <p><i>Loading...</i></p>
}
else
{
    @if (myorders.Count > 0)
    {
        <div class="app">
            @foreach (var order in myorders)
            {
                <div class="bid-item">
                    <div class="bid-img">
                        <img src="@order.ArtImage" />
                    </div>
                    <div class="bid-details">
                        <div class="bid-left">
                            <h4> @order.ArtName </h4>
                            <p style="background-color:#FFE9E4; Padding:4px;">Payment: @order.Status</p>
                        </div>
                        <div>
                            @if (order.Status == "Pending")
                            {
                                <input type="text" placeholder="Enter Coupon Code" />
                                <button class="btn-bid-comp">Submit</button>
                            }
                        </div>
                        <div class="bid-right">
                            <span style="display:flex;">Amount: <p> Ksh @order.TotalAmount</p></span>
                            @if (order.Status == "Pending" )
                            {
                                <button @onclick="@(() => completeOrder(order.Id.ToString()))" class="btn-bid-won">Pay Now</button>
                            }
                            else if (order.Status == "Paid")
                            {
                                <button class="btn-bid-comp">Verified</button>
                            }
                            else if (order.Status == "Ongoing" )
                            {

                                <button @onclick="@(() => completeOrder(order.Id.ToString()))" class="btn-bid-won">Pay Now</button>
                                <br/>
                                <button @onclick="@(() => verifyOrder(order.Id.ToString()))" class="btn-bid-comp">Verify</button>
                            }
           
                          
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p><i>No Art Found!!</i></p>
    }
}

@code {
    private List<OrdeDto> myorders = new List<OrdeDto>();
    private bool isLoading = true;
    private double bidAmount;
    private string UserId; // Variable to store SellerId

    protected override async Task OnInitializedAsync()
    {
        //
        // Retrieve SellerId from local storage
        UserId = await jsRuntime.InvokeAsync<string>("localStorage.getItem", "UserId");

        myorders = await orderservice.UserOrdersAsync(UserId);

        isLoading = false;
    }

    private async Task completeOrder(string orderId)
    {
        var stripe = new StripeRequestDto()
            {
                ApprovedUrl = "https://artbbasefrontend.azurewebsites.net/myorders",
                CancelUrl = "https://artbbasefrontend.azurewebsites.net/myorders",
                OrderId = new Guid (orderId)
            };

        var stripeRequest = await orderservice.MakePayments(stripe);
        navigationManager.NavigateTo(stripeRequest.StripeSessionUrl, true);
    }
    private async Task verifyOrder(string orderId)
    {
        var stripeRequest = await orderservice.ValidatePayments(new Guid (orderId));   
        await jsRuntime.InvokeVoidAsync("ShowToastr", "success", "Payment Verified");
    }

}

